<!DOCTYPE html>
<html>
<head>
    <meta charset = "UTF-8" />
    <link href = "css/Index.css" rel = "stylesheet"/>
    <title>Spring Boot Application</title>
</head>
<body>

<h3 class="title">Welcome to Thymeleaf Spring Boot web application</h3>

<div class="banner">

    <button class="ButtonToData"><a href="/index/api/table" class="ButtonText">Table</a></button>

    <button class="ButtonToData" id="buttonTwo">
        <a class="ButtonText" href="http://localhost:8081/index/api/calendar">Calendar</a>
    </button>

</div>

<div class="container">

    <div class="grid-item1"></div>

    <div class="grid-item2">

        <h2> about this webpage</h2>

    </div>

    <div class="grid-item3"></div>

    <div class="grid-item4"></div>

    <div class="grid-item5">

        <div class="BaseText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Eu augue ut lectus arcu bibendum at varius vel. Consectetur adipiscing
            elit pellentesque habitant morbi tristique senectus et. Neque viverra justo nec ultrices. Dictumst quisque
            sagittis purus sit amet volutpat consequat mauris. Ornare arcu odio ut sem nulla pharetra diam.
            Nulla facilisi cras fermentum odio eu. Massa id neque aliquam vestibulum morbi blandit cursus risus.
            Accumsan tortor posuere ac ut consequat semper viverra nam. Natoque penatibus et magnis dis parturient
            montes nascetur ridiculus mus. Varius quam quisque id diam vel quam. Neque laoreet suspendisse interdum
            consectetur libero id faucibus nisl tincidunt. Morbi quis commodo odio aenean sed adipiscing diam.
            Tortor pretium viverra suspendisse potenti nullam ac. Ultrices dui sapien eget mi proin sed libero enim.
            Ipsum dolor sit amet consectetur adipiscing elit pellentesque habitant. Non blandit massa enim nec dui nunc
            mattis enim ut. Tempus imperdiet nulla malesuada pellentesque elit. Quis commodo odio aenean sed adipiscing
            diam donec adipiscing tristique. Dignissim diam quis enim lobortis scelerisque fermentum dui faucibus in.

            Ipsum nunc aliquet bibendum enim. Lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt
            ornare. Fringilla est ullamcorper eget nulla facilisi. Arcu ac tortor dignissim convallis aenean et.
            Vitae nunc sed velit dignissim sodales. Fermentum et sollicitudin ac orci phasellus egestas tellus rutrum
            tellus. At lectus urna duis convallis convallis tellus id interdum velit. Cras fermentum odio eu feugiat
            pretium nibh ipsum consequat. Et ultrices neque ornare aenean euismod elementum nisi. Amet mauris commodo
            quis imperdiet massa tincidunt nunc pulvinar sapien. Consectetur a erat nam at lectus urna. At elementum eu
            facilisis sed odio morbi quis commodo. Vestibulum mattis ullamcorper velit sed ullamcorper. Metus aliquam
            eleifend mi in. Varius sit amet mattis vulputate enim. Laoreet sit amet cursus sit amet dictum.

            Tempus iaculis urna id volutpat lacus laoreet non. Enim ut sem viverra aliquet eget sit. Mi bibendum neque
            egestas congue quisque. Et molestie ac feugiat sed lectus vestibulum. Diam donec adipiscing tristique risus
            nec feugiat in. Laoreet sit amet cursus sit. Bibendum at varius vel pharetra vel turpis nunc eget. Erat nam
            at lectus urna duis convallis convallis tellus. In ante metus dictum at tempor commodo ullamcorper. Mauris
            vitae ultricies leo integer malesuada. Orci nulla pellentesque dignissim enim sit amet venenatis. Sed enim
            ut sem viverra aliquet eget sit amet tellus. Eget magna fermentum iaculis eu non. Amet tellus cras
            adipiscing enim eu turpis egestas pretium. Accumsan tortor posuere ac ut consequat semper viverra nam.
            Ac turpis egestas maecenas pharetra convallis posuere. Etiam dignissim diam quis enim. Convallis aenean et
            tortor at risus viverra adipiscing. Volutpat commodo sed egestas egestas fringilla phasellus faucibus
            scelerisque eleifend.

            Sit amet justo donec enim diam vulputate ut. Massa enim nec dui nunc mattis. Dolor sit amet consectetur
            adipiscing elit pellentesque. Eget nunc scelerisque viverra mauris in aliquam sem fringilla. Ornare aenean
            euismod elementum nisi quis eleifend quam adipiscing. Sapien eget mi proin sed libero enim sed.
            Et sollicitudin ac orci phasellus. Massa tincidunt dui ut ornare. Ac odio tempor orci dapibus ultrices in
            iaculis nunc sed. Eu sem integer vitae justo. Sed vulputate odio ut enim blandit.

            In nulla posuere sollicitudin aliquam ultrices sagittis orci. Sodales neque sodales ut etiam sit amet nisl.
            Dolor magna eget est lorem ipsum. Amet consectetur adipiscing elit pellentesque habitant morbi tristique
            senectus et. Id diam vel quam elementum pulvinar etiam non quam. Ipsum suspendisse ultrices gravida dictum
            fusce ut. Lobortis elementum nibh tellus molestie. Dui id ornare arcu odio ut. Porta lorem mollis aliquam ut
            porttitor leo a diam. Diam quam nulla porttitor massa id neque aliquam. Mattis ullamcorper velit sed
            ullamcorper morbi tincidunt. A lacus vestibulum sed arcu non. Elementum sagittis vitae et leo duis ut diam 
            quam nulla. Tortor consequat id porta nibh venenatis cras sed felis eget. Elementum integer enim neque
            volutpat ac tincidunt vitae. Rhoncus aenean vel elit scelerisque mauris pellentesque. Dolor sit amet
            consectetur adipiscing elit. Quis vel eros donec ac odio tempor orci. Phasellus faucibus scelerisque
            eleifend donec pretium vulputate sapien. Scelerisque viverra mauris in aliquam sem fringilla ut.</div>

    </div>
    <div class="grid-item6"></div>

</div>
</body>
</html>