<!DOCTYPE html>
<html>
<head>
    <meta charset = "UTF-8" />
    <link href = "css/Index.css" rel = "stylesheet"/>
    <title>Spring Boot Application</title>
</head>
<body>

<h3 class="title">Welcome to Thymeleaf Spring Boot web application</h3>

<div class="banner">

    <button class="ButtonToData"><a href="/index/api/table" class="ButtonText">Table</a></button>

    <button class="ButtonToData" id="buttonTwo">
        <a class="ButtonText" href="http://localhost:8081/index/api/calendar">Calendar</a>
    </button>

</div>

<div class="container">

    <div class="grid-item1"></div>

    <div class="grid-item2">

        <h2> about this webpage</h2>

    </div>

    <div class="grid-item3"></div>

    <div class="grid-item4"></div>

    <div class="grid-item5">

        <div class="BaseText">testaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaatestaaaaaaaaaaa
            aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
            ttestaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
            aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
            aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
            aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
            aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</div>

    </div>

    <div class="grid-item6"></div>

</div>
</body>
</html>