<!DOCTYPE html>
<html>
<head>
    <meta charset = "ISO-8859-1" />
    <link href = "css/Index.css" rel = "stylesheet"/>
    <title>Spring Boot Application</title>
</head>
<body>
<h3>Welcome to Thymeleaf Spring Boot web application</h3>
<div class="banner">
    <button class="ButtonToData"><a href="/index/api" class="ButtonText">Table</a></button>
    <button class="ButtonToData" id="buttonOne">
        <a class="ButtonText">Test1</a>
    </button>
    <button class="ButtonToData" id="buttonTwo">
        <a class="ButtonText" >Test2</a>
    </button>
    <button class="ButtonToData" id="buttonThree">
        <a class="ButtonText" >Test3</a>
    </button>
    <button class="ButtonToData" id="buttonFour">
        <a class="ButtonText" >Test4</a>
    </button>
    <button class="ButtonToData" id="buttonFive">
        <a class="ButtonText" >Test5</a>
    </button>
    <button class="ButtonToData" id="buttonSix">
        <a class="ButtonText" >Test6</a>
    </button>
</div>
<div>

</div>
</body>
</html>